.modalContainer{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  background-color: rgba(108, 122, 137,0.7);
  display: flex;
  .modalContent {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 650px;
    height: 550px;
    padding: 15px;

    h1 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }

    .modalButtons{
      button {
        margin: 5px;
        width: 80px;
      }
    }
  }
}
